<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OffLineCache.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD573A5D1BFD932100B00E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD573A761BFD932100B00E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD573A811BFD932200B00E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
